<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>K8s Test App</title>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template" style="padding-top: 60px;">
        <h3><span th:utext="${welcome_text}">welcome_text</span> <span th:utext="${hostname}" class="text-monospace" style="color: gray">hostname</span>!</h3>

        <div style="padding-top: 30px;"></div>

        <div class="alert alert-success" role="alert">
            This page was loaded <span th:utext="${counter_value}" class="font-weight-bold">counter_value</span> times since <span th:utext="${counter_created}" class="font-weight-bold">counter_created</span>.
        </div>

        <div style="padding-top: 30px;"></div>

        <div class="alert alert-light" role="alert">
            The counter is stored in the database <span th:utext="${jdbc_url}" class="text-monospace">jdbc_url</span>. The application runs with profile(s) <span th:utext="${profiles}" class="text-monospace">profiles</span>.
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>