# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI Native Build with Maven

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "graalvm" # See 'Supported distributions' for available options
          cache: 'maven'

      - name: Maven native test
        run: mvn clean test -PnativeTest

      - name: Maven native build
        run: mvn clean package -Pnative native:compile
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v5
        with:
          name: native-build
          path: target/k8s-demo-app
          retention-days: 5
